*{
	margin:0;
	padding:0;
	list-style:none;
}
html{
	min-width:1000px;
}

html.htmlconnect{
    background:url(../Images/bgr.jpg) repeat-x 50% 0 #cee7fa;
}

html.htmlnoconnect{
    background:url(../Images/bgr2.jpg) repeat 50% 0 #cee7fa;
}

body{
	font-family:Arial, sans-serif;
	font-size:12px;
	line-height:1.3;
}

body.bodyconnect{
     background: url('../Images/fond-border-shadow.png') 50% repeat-y;
}

.clear{
	clear:both;
	height:0;
	overflow:hidden;
}
.hide{ display:none !important; }
input, select, textarea{
	font-family:inherit;
	font-size:inherit;
}
.submit{ cursor:pointer; }
fieldset{ border:none; }
label{ cursor:pointer; }
a:hover{
	cursor:pointer;
	text-decoration:none;
}
a{ color:inherit; }
a img{ border:none; }
.nom{ margin:0 !important; }
a.rev{ text-decoration:none; }
a.rev:hover{ text-decoration:underline; }
.ld{ float:left !important; }
.rd{ float:right !important; }
.first{ margin-top:0 !important; }
.last{ margin-bottom:0 !important; }
.ca{ text-align:center; }
.ra{ text-align:right; }
.la{ text-align:left; }
.inh{ color:inherit !important; }
.upper{ text-transform:uppercase; }
.vam{ vertical-align:middle; }
.nowrap{ white-space:nowrap; }
.cfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
	overflow:hidden;
}
.rep{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	display:block;
}

.in{
	width:960px;
	margin:0 auto;
	position:relative;
}

#wrap-outer{
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #1a171b;
	position: relative;
}
#logo-block{
	width: 253px;
	position: absolute;
	left: 50%;
	margin-left: -122px;
}

.logo-block-co{
    top: -30px;
}

#logo{
	width:253px;
	height:151px;
	background:url(../Images/logo.png);
	overflow:hidden;
}
.logo-enterprise{
	background:url(../Images/logo-enterprise.png) !important;
}
#top-social-links{
	margin-top: -15px;
	position: relative;
	text-align: center;
	left:-5px;
}
#top-social-links a{
	display: inline-block;
	width: 22px;
    height: 23px;
    margin: 0 6px;
}
#top-facebook-link{
	background-image: url(../Images/icon-facebook.png);
}
#top-twitter-link{
	background-image: url(../Images/icon-twitter.png);
}

#header{
	margin: 30px 0 100px;
}
#header-left{
	float:left;
	width:50%;
}
#header-right{
	float:right;
	width:50%;
}
#header-left-in1{
	margin-right: 145px;
	padding: 2px 0;
}
#header-right-in1{
	margin-left: 145px;
	padding: 2px 0;
}
#header-left-in1, #header-left-in2, #header-right-in1, #header-right-in2{
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d3d3d4;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d4;
}
#header-left-in2, #header-right-in2{
	height:70px;
	position: relative;
}
#header-left-in2{
	text-align: right;
	line-height: 70px;
	padding-right: 15px;
	white-space: nowrap;
}
#header-left-in2 *{
	vertical-align: middle;
}
#txt-inscription{
	width:259px;
	height:51px;
	background:url(../Images/inscription.png);
	overflow:hidden;
	display: inline-block;
}
#register-link{
	width:74px;
	height:39px;
	background:url(../Images/button-cest-parti.png);
	overflow:hidden;
	display: inline-block;
	margin-left: 5px;
}
#register-link-enterprise{
	width:107px;
	height:39px;
	background:url(../Images/btn-je-nous-inscris.png);
	overflow: hidden;
	display: inline-block;
	margin-right: 85px;
}
#login-form{
	padding-top: 13px;
}
#login-form label{
	color: #000;
	margin-bottom: 1px;
	display: block;
}
.header-form-group{
	margin-right: 13px;
	float: left;
	width: 120px;
	position: relative;
}
.header-submit-cont{
	width:75px;
}
#login-form .header-small, .connexion-small{
	display:inline;
	font-size: 9px;
	color: #838385;
}
.text{
	font-size: 11px;
	background-image: url(../Images/input-bgr.png);
	line-height: 14px;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: #d3d4d4;
	height: 14px;
	background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-position: top;
}
#login-form .text{
    width: 102px;
    padding-right: 13px;
}
.form-icon{
	position: absolute;
}
#login-form .form-icon{
	top: 25px;
	right: 8px;
}
.icon-password{
	background-image: url(../Images/icon-password.png);
	width: 7px;
	height: 7px;
}
.icon-username{
	background-image: url(../Images/icon-username.png);
	width: 8px;
	height: 7px;
}
#login-form .submit{
	background-color: transparent;
	background-image: url(../Images/btn-connexion.png);
	background-repeat: no-repeat;
	border: none;
	width: 75px;
	height: 22px;
}
.cb-replace{
	background-image: url(../Images/checkbox.png);
	background-position: 0 -14px;
	width: 12px;
	height: 14px;
	display: inline-block !important;
}
.cb-active{
	background-position: 0 0;
}
.blue{ color: #49B8E4; }
.pink{ color: #e476a8; }
.grey{ color: #acaeaf; }
#home-caption{
	margin: 45px 0;
	text-align: center;
}
#home-caption h2{
	font-size: 22px;
	color: #58585A;
	line-height: 25px;
}

#home-slider{
	overflow: hidden;
}
#home-slider .slider-container-in{
	margin: 0 auto;
	width: 700px;
	height: 253px;
	position: relative;
}
#home-icons{
	text-align: center;
	margin: 45px 0;
}
#home-icons img{
	margin: 0 15px;
	vertical-align: middle;
}
.blue-box-top{
	background-image: url(../Images/blue-triangles.png);
	background-position: 50% 0;
	height: 20px;
}
.blue-box{
	background-image: url(../Images/blue-box.jpg);
	background-position: 50% 0;
	padding: 40px 0;
}
.blue-box-in{
	margin: 0 auto;
	width: 780px;
}
.blue-box-col{
	font-size: 15px;
	color: #fff;
	background-image: url(../Images/landing-text-bgr.png);
	padding: 30px 15px;
	width: 340px;
	text-align: justify;
}
.blue-box-col h2{
	font-size: 15px;
	font-style: italic;
}
.blue-box-col h2, .blue-box-col p{ margin-bottom: 15px; }

#footer{
	color: #58585A;
	text-align: center;
    padding: 40px 0;
}
.designed-cont{
	margin: 0 auto;
	width: 780px;
	position: relative;
}
.designed a{
	color: #1894C0;
}
#footer-links{
	margin-bottom: 40px;
}
#footer-links li{
	display: inline-block;
	margin: 0 7px;
	font-size: 14px;
	font-weight: bold;
    font-style: italic;
}
#footer-logo{
	background-image: url(../Images/footer-logo.png);
	margin-left: -24px;
	margin-top: -24px;
	width: 48px;
	height: 47px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.designed{
	text-align: center;
	width:340px;
}
.designed-in{display: inline-block;}
.designed-line{
	display: inline-block;
	background-image: url(../Images/designed-line.gif);
    background-repeat: repeat-x;
    background-position: 0 50%;
}

.popup-box{
}
#register{
	width:600px;
}
.popup-box .fancybox-skin{
	border-radius: 30px;
	background-color: #000;
}
.popup-box .fancybox-inner{
	padding: 30px 0;
}
.popup-caption{
	font-size: 29px;
	font-style: italic;
	color: #fff;
	background-color: #071317;
	line-height: 45px;
	height: 45px;
	width: 100%;
	text-align: center;
}
.popup-submit-cont{
/*
	background-color: #47bae5;
	height: 45px;
	line-height: 45px;
	text-align: center;
*/
}
.popup-submit-cont .submit{
	width:600px;
	height:45px;
	background:url(../Images/je-minscris.png) 50% 50% no-repeat #47bae5;
	overflow:hidden;
	border: none;
}
.popup-submit-cont-enterprise .submit{
	width:600px;
	height:45px;
	border: none;
	color:#1A171B;
	font-size: 29px;
	background:#47bae5;
	font-weight: bold;
}
.popup-content{
	padding: 35px 40px;
	color: #47BAE5;
}
.popup-form-col{
	width: 250px;
}
.popup-form-col p{
	margin-bottom: 15px;
}
.popup-form-col .text{
	width:134px;
}
.popup-box .fancybox-close{
	background-image: url(../Images/popup-close.png);
	width: 52px;
	height: 52px;
	right:5px;
	top:5px;
}
.validation-error, .validation-ok{
	background-repeat: no-repeat;
	background-position: 0 50%;
	margin-left: 15px;
	padding-left: 13px;
}
.validation-error{
	background-image: url(../Images/icon-error.png);
	color: #DD0B1D;
}
.validation-ok{
	background-image: url(../Images/icon-ok.png);
	color: green;
}
.register-form-part2{
	display:none;
}
.seppa{
	margin-left: 15px;
}
#connexion-bar{
	background-image: url(../Images/connexion-strip.png);
	background-repeat: repeat-x;
	height: 31px;
}
#connexion-box{
	margin-top: -31px;
	position: relative;
	width: 626px;
	padding-left: 26px;
    padding-right: 3px;
	background-image: url(../Images/connexion-box.png);
	background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
}
#connexion-box #home-icons{
	margin-bottom:20px;
}
#connexion-box-in{
	padding: 25px 20px;
	border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #69c4e6;
}
.blue-box-asdf{
	margin-top: -20px;
	position: relative;
	z-index: 2000;
}
.connexion-shadow-1{
	width:581px;
	height:11px;
	background:url(../Images/connexion-shadow.png);
	overflow:hidden;
	margin: 20px auto;
}
.connexion-shadow-2{
	width:581px;
	height:11px;
	background:url(../Images/connexion-shadow2.png);
	overflow:hidden;
	margin: 20px auto;
}
.cbox-title{
	font-style: italic;
	font-size:12px;
}
.connexion-form{
	width: 450px;
	margin: 0 auto;
}
.connexion-form-col{
	margin-bottom: 25px;
}
.connexion-submit-cont .submit{
	width: 560px;
	background-color: #47bae5;
    background-image: url(../Images/connexion.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    margin-left: -55px;
    height: 40px;
}
.connexion-form-col input.text{
	width: 110px;
}
.connexion-form-col p{
	margin-bottom: 10px;
}
#top-small-title{
	text-align: center;
	font-size: 14px;
	color: #58585A;
	font-weight: bold;
}
.admin-spacer{ height: 50px; }
.menu li{
	background-image: url(../Images/menu-highlight.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	width: 62px;
}
.menu li a{
	font-size: 10px;
	text-decoration: none;
	color: #333;
}
.menu li a:hover{text-decoration: underline;}
.menu-icon{
	text-align: center;
	line-height: 45px;
	height: 45px;
	display: block;
}
.menu-icon img{
	vertical-align: middle;
}
.menu-text{
	text-align: center;
	height: 26px;
	display: block;
	line-height: 26px;
}
#header-right .menu{
	padding-left:15px;
}
#header-left .menu li{
	margin-right: 2px;
	float: right;
}
#header-right .menu li{
	margin-left: 2px;
	float: left;
}
#recherche-box{
	margin-left: 35px;
	padding-top: 12px;
	float: left;
	width: 174px;
}
.search-form{
	background-image: url(../Images/search-bgr.png);
	width: 174px;
	height: 23px;
	position: relative;
}
.search-form .submit{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 0;
	right: 0;
	border:none;
	background:none;
}
.search-form .text{
	border:none;
	background:none;
	width:142px;
	padding:4px;
}
.boxy-list{
	text-align: center;
	width:400px;
	margin:0 auto;
}
.boxy-item{
	display: inline-block;
	vertical-align: middle;
	padding: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #bcbfbf;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #dddcdd;
    background-image: url(../Images/admin-box-bgr1.png);
    background-repeat: repeat-x;
    background-position: top;
}
.boxy-item a{
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	color: #666;
}
.boxy-num{
	background-color: #eaf5f9;
	background-image: url(../Images/admin-box-bgr2.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border-width: 1px;
    border-style: solid;
    border-color: #cacecf;
    text-align: center;
    line-height: 77px;
    height: 77px;
    margin-bottom: 6px;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    color: #96a2a9;
    text-shadow:5px 5px 5px #bbcad0;
}
#connexion-box p{
	margin-bottom: 15px;
}
.beta{
	margin: 0 auto;
	margin-bottom: 30px;
	width: 1000px;
}
.beta-left{
	width: 540px;
	float: left;
}
.beta-right{
	width: 425px;
	float: right;
	padding-top: 55px;
}
.bl-photo{
	width: 121px;
	float: left;
}
.bl-photo img{
	border-radius: 6px;
	display: block;
}
.bl-link{
	box-shadow:5px 5px 10px #666;
	display: block;
	padding: 10px;
	border-radius: 8px;
}
.bl-right{
	width: 370px;
	float: right;
	padding-top: 55px;
}
.white-quote{
	background-color: #fff;
	border-radius: 8px;
	position: relative;
	margin-top: 15px;
    padding: 15px;
    color:#97989a;
}
.white-tip{
	background-image: url(../Images/white-tip.png);
	width: 11px;
	height: 13px;
	overflow: hidden;
	position: absolute;
	left: -11px;
	top: 50%;
	margin-top:-7px;
}
.btn-partager, .btn-gerer{
	border-width: 1px;
	border-style: solid;
	border-color: #e0e1e2;
	border-radius: 5px;
	width: 79px;
	height: 25px;
	position: absolute;
	right: 37px;
	bottom: -14px;
}
.btn-partager{ background-image: url(../Images/btn-partager.png); }
.btn-gerer{ background-image: url(../Images/btn-gerer.png); }
.br-link img{
	border-radius: 6px;
	display: block;
}
.br-link{
	box-shadow:5px 5px 10px #666;
	display: block;
	padding: 6px;
	border-radius: 6px;
}
.br-photo{
	width: 74px;
	float: left;
}
.br-text{
	width: 330px;
	float: right;
}
.black-quote{
	background-image: url(../Images/black-bgr.png);
	padding: 8px 12px;
	border-radius: 5px;
	position: relative;
	color: #fff;
    margin-top: 10px;
}
.br-pagination{
	margin-top: 12px;
}
.pages{
	float: right;
}
.pages li{
	margin-left: 4px;
	float: left;
}
.pages a{
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	width: 17px;
	height: 22px;
	display: inline-block;
	font-weight: bold;
    background-image: url(../Images/pagination-bgr.png);
    background-repeat: no-repeat;
    color: #fff;
}
.pages .active, .pages a:hover{background-position: 0 -22px;}
.pages-lbl{ line-height: 22px; }
.black-tip{
	background-image: url(../Images/black-tip.png);
	width: 7px;
	height: 14px;
	overflow: hidden;
	position: absolute;
	left: -7px;
	top: 50%;
	margin-top: -7px;
}
.funny-quotes{
	background-image: url(../Images/funy-quotes.png);
	width: 34px;
	height: 24px;
	position: absolute;
	top: -16px;
	right: -4px;
}
.cbox-photo{
	width: 50px;
	float: left;
}
.cbox-text{
	margin-left: 15px;
	width: 440px;
	float: left;
}
.cbox-link img{
	border-radius: 6px;
	display: block;
}
.cbox-link{
	box-shadow:5px 5px 10px #aaa;
	display: block;
	padding: 5px;
	border-radius: 6px;
}
.bgr-blue{ background-image: url(../Images/bgr-blue.png); }
.bgr-pink{ background-image: url(../Images/bgr-pink.png); }
.bgr-grey{ background-color:#949496; }
.bgr-pink2{ background-color:#f6bfdb; }
.bgr-darkblue{ background-color:#155f72; }
.bgr-grey2{ background-color:#bfc0c1; }
.bgr-grey3{ background-color:#3d3c3f; }
.bgr-blue2{ background-color:#13235b; }
.bgr-blue3{ background-color:#0e72b5; }

#inside-main{
	background-image: url(../Images/connexion-box.png);
	background-color: #e9ebec;
	background-repeat: repeat-y;
	background-position: 192px 0;
	padding-bottom: 20px;
	position: relative;
}
#inside-main-big {
	background-image: url(../Images/connexion-box-large.png);
	background-color: #e9ebec;
	background-repeat: repeat-y;
	background-position: 192px 0;
	padding-bottom: 20px;
	position: relative;
}
#sidebar-left{
	margin-right: -313px;
	width: 50%;
	float: left;
}
#sidebar-left-in{ margin-right: 313px; }
#sidebar-right{
	margin-left: -355px;
	width: 50%;
	float: right;
}
#sidebar-right-in{ margin-left: 355px; }

#inside-column{
	width: 668px;
	float: left;
	padding-bottom: 145px;
	position: relative;
}

#inside-column-big{
	width: 843px;
	float: left;
	padding-bottom: 145px;
	position: relative;
}

.sb-title{
	background-image: url(../Images/connexion-strip.png);
	line-height: 31px;
	height: 31px;
	font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
}
#sidebar-left .sb-title span{
	float:right;
	width:182px;
	background-image:url(../Images/sb-title-shadow.png);
	background-repeat: repeat-y;
    background-position: 100% 0;
}
#sidebar-right .sb-title span{
	padding-left: 20px;
	width: 150px;
	float: left;
}
.sb-block{
	padding-top: 15px;
	padding-bottom: 15px;
}
#sidebar-right .sb-block{
	padding-left: 11px;
	width: 160px;
}
#sidebar-left .sb-block{
	padding-right: 10px;
	width: 170px;
	float:right;
}
.sb-title a{ color: #000; }
#sidebar-right .advertisement{
	margin-left:10px;
	width:180px;
}
.users-list1{}
.users-list1 li{
	margin-top: 7px;
}
.users-list1 li:first-child{margin-top:0;}
.users-list1 .user-photo{
	padding: 3px;
	border-radius: 3px;
	float: left;
	box-shadow:3px 3px 3px #666;
}
.users-list1 .user-photo img{
	border-radius: 3px;
	display: block;
}
.users-list1 .user-name{
	line-height: 27px;
	margin-left: 10px;
	float: left;
	width:100px;
}
.users-list1 .user-name a{color: #58585A;}
.user-status{
	width: 9px;
	height: 8px;
	float: left;
	position: relative;
	top: 8px;
	margin-right: 2px;
}
.status-online{background-image: url(../Images/circle-green.png);}
.status-offline{background-image: url(../Images/circle-grey.png);}
.action-block{
	width: 9px;
	height: 10px;
	float: left;
	position: relative;
	top: 7px;
	background-image: url(../Images/icon-stop.png);
	margin-right: 2px;
}
.action-close{
	width: 9px;
	height: 8px;
	float: left;
	position: relative;
	top: 8px;
	background-image: url(../Images/icon-x.png);
	margin-right: 2px;
}

.users-list2 .user-photo, .user-avatar{
	padding: 4px;
	border-radius: 5px;
	float: left;
	box-shadow:3px 3px 3px #666;
}
.users-list2 .user-photo img, .user-avatar img{
	border-radius: 5px;
	display: block;
}
.user{
	float:left;
	margin-right: 6px;
    margin-bottom: 6px;
    width: 50px;
    position: relative;
}
.users-list2 .user:hover{z-index:2001;}
.users-list2 .user:hover .user-popup-info{display: block;}
.user-popup-info{
	position:absolute;
	color: #fff;
    background-image: url(../Images/black-bgr.png);
    padding: 10px;
    border-radius: 5px;
    left: 55px;
    bottom: 0;
    width:150px;
    display: none;
}
.user-popup-info .black-tip{
	margin-top: 0;
	top: auto;
	bottom: 10px;
}
.event-caption{
	margin-bottom: 10px;
}
.events-list li{
	margin-top: 5px;
}
#main-footer{
	margin-left: -313px;
	width: 625px;
	position: absolute;
	left: 50%;
	bottom: 0;
}
#main-footer-big{
	margin-left: -313px;
	width: 842px;
	position: absolute;
	left: 50%;
	bottom: 0;
}
.inside-column-inside{
	padding:20px 25px;
}
.inside-column-sep{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d1d1d3;
	margin: 15px 0;
}
.inside-column-inside .cbox-title a{
	color: #000;
	text-decoration: none;
	margin-right:10px;
}
.inside-column-inside .cbox-title a:hover{color: #49B8E4;}
.conversation-left{
	width: 50px;
	float: left;
}
.conversation-right{
	width: 50px;
	float: right;
}
.conversation-main{
	margin-left: 18px;
	width: 540px;
	float: left;
}
.conversation-main-big{
	margin-left: 18px;
	width: 657px;
	float: left;
}
.chat-time{
	font-size: 9px;
	color: #868889;
	padding: 5px 7px;
}
.chat-meta{
	padding: 5px 7px;
}
.chat-msg{
	margin-bottom: 5px;
	padding: 7px;
	position: relative;
	border-radius: 5px;
}
.chat-tip-left, .chat-tip-right{
	width: 8px;
	height: 14px;
	overflow: hidden;
	position: absolute;
	bottom: 7px;
}
.chat-tip-left{left:-8px;}
.chat-tip-right{left:100%;}
.bgr-pink2 .chat-tip-left{background-image: url(../Images/tip-pink-left.png); }
.bgr-pink2 .chat-tip-right{background-image: url(../Images/tip-pink-right.png); }
.bgr-blue .chat-tip-left{ background-image: url(../Images/tip-blue-left.png); }
.bgr-blue .chat-tip-right{ background-image: url(../Images/tip-blue-right.png); }
.bgr-darkblue .chat-tip-left{ background-image: url(../Images/tip-darkblue-left.png); }
.bgr-darkblue .chat-tip-right{ background-image: url(../Images/tip-darkblue-right.png); }
.bgr-grey2 .chat-tip-left{ background-image: url(../Images/tip-grey2-left.png); }
.bgr-grey2 .chat-tip-right{ background-image: url(../Images/tip-grey2-right.png); }
.bgr-grey3 .chat-tip-left{ background-image: url(../Images/tip-grey3-left.png); }
.bgr-grey3 .chat-tip-right{ background-image: url(../Images/tip-grey3-right.png); }
.bgr-grey .chat-tip-left{ background-image: url(../Images/tip-grey-left.png); }
.bgr-grey .chat-tip-right{ background-image: url(../Images/tip-grey-right.png); }
.chat-form .chat-tip{
	left:-8px;
	background-image: url(../Images/tip-grey.png);
}
.chat-form{
	position: relative;
}
.chat-form textarea{
	background-color: #e8e8e9;
	border-radius: 5px;
	border: none;
	width:430px;
	padding:5px;
}
.chat-sep-icon{margin: 0 15px;}
.chat-form .submit{
	position: absolute;
	bottom: -15px;
	background-image: url(../Images/btn-envoyer.png);
	background-color: transparent;
    border: none;
    width: 81px;
    height: 28px;
    right: 40px;
}


.photos-box{
	background-color: #dcdcdc;
	background-image: url(../Images/bgr-photos.png);
	background-repeat: repeat-x;
	background-position: 0 0 ;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #d4d6d6;
	width:290px;
	margin-top: 25px;
}
.photos-box img{display: block;}
.photos-box-text{
	width: 90px;
	float: right;
}
.like-btn{
	color: #fff;
	background-image: url(../Images/btn-empty.png);
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	width: 81px;
	height: 28px;
	display: inline-block;
	border:none;
	background-color:transparent;
}
.floating-link{
	position: absolute;
	right: 20px;
    bottom: -14px;
}
.form-col{
	width:246px;
}
.forms-wrap{
	margin: 0 auto;
	width: 520px;
	padding-top: 15px;
}
.form-boxy{
	background-color: #41bae6;
	border-radius: 8px;
	position: relative;
	padding: 10px 15px;
	color: #fff;
}
.form-boxy h4{
	color: #000;
	background-color: #2596c2;
    line-height: 19px;
    height: 19px;
    position: relative;
    margin-left: -15px;
	width: 230px;
	padding-left: 16px;
}
.form-boxy-hanger{
	background-image: url(../Images/stripe-hanging.png);
	width: 5px;
	height: 22px;
	overflow: hidden;
	position: absolute;
	left: -5px;
}
.formy-row{
	margin-top: 8px;
}
.formy-row label.formy-lbl{
	float: left;
	font-size: 10px;
	width: 92px;
	line-height: 22px;
}
.formy-row input.text{width:110px;}
.formy-lbl2{
	font-size: 10px;
	color: #333;
}
.form-boxy .submit{
	position: absolute;
	right: 20px;
	bottom: -18px;
}
.recherche-col{
	float: left;
	width: 250px;

}
.recherche-col .rech-fields{
	margin-bottom: 5px;
	overflow: hidden;
}
.recherche-col .rech-fields label{
	float:left;
	width: 130px;
	min-height:1px;
	line-height: 22px;
}
.recherche-col .rech-fields input.text{width: 112px;}
.rcol2{
	margin-left: 9px;
	padding-left: 9px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #e0e1e2;
}
.rcol2 label{width:92px !important;}
.recherche-form{
	margin: 0 auto;
	width: 520px;
}
.new-small{
	font-size: 9px;
}
.white{color: #fff;}
.blue-man{margin: 0 45px;}
.blue-man-cont{margin-bottom: 25px;}
.fun-block{
	padding-right: 35px;
}
.fun-block-nav{
	margin-left: -100%;
	width: 210px;
	float: left;
}
.fun-block-inside{
	width: 100%;
	float: left;
	min-height:1px;
}
.fun-block-inside2{
	margin-left: 210px;
}
.fun-block-nav{ padding-top: 50px; }
.fun-block-nav li{
	-moz-transform: skewY(-11deg);
	-webkit-transform: skewY(-11deg);
	margin-bottom: 4px;
}
.fun-block-nav a{
	font-weight: bold;
	background-color: #41bae6;
	display: inline-block;
	color: #000;
    text-decoration: none;
    padding-left: 40px;
    line-height: 20px;
    padding-right: 5px;
}
.fun-block-nav a:hover, .fun-block-nav a.active{background-color: #2596c2;}
.fun-block-inside .text{
	width:100%;
}
.fun-block-inside p{margin-bottom: 10px;}
.fun-block-inside textarea.text{
	height: 210px;
	background-image: url(../Images/ta-bg.png);
}
.schwach{
	background-image: url(../Images/icon-schwach.png);
	padding-left: 22px;
	background-repeat: no-repeat;
    background-position: 0 0;
}
.schw-gp{
	margin-left: 20px;
}
.schw-gp, .schw-gp *{vertical-align: middle;}
#slurpee{
	background-color: #41bae6;
	width: 100%;
	margin-left: -25px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
#slurpee-oh{
	width:100%;
	overflow:hidden;
}
.slurpee-sep{
	background-color: #2596c2;
	margin: 0 18px;
	width: 3px;
	float:left;
	-moz-transform: skewx(-10deg);
	-webkit-transform: skewx(-10deg);
}
.slurpee-col{
	float: left;
	padding: 8px 0;
	width:170px;
}
.slurpee-data li{
	margin-top:10px;
	line-height: 1.1;
}
.slurpee-data .user-photo{margin-right: 5px;}
#slurpee-left, #slurpee-right{
	margin-top: -16px;
	width: 21px;
	height: 33px;
	position: absolute;
	top: 50%;
	cursor:pointer;
}
#slurpee-left{
	left:3px;
	background-image: url(../Images/slurpee-left.png);
}
#slurpee-right{
	right:3px;
	background-image: url(../Images/slurpee-right.png);
}
.as-with-icons a{margin-right: 10px;}
.user-descr{
	float:left;
	width:60px;
	margin-right:5px;
	margin-left:5px;
}
.user-titlro{
	width:110px;
}
.user-iconies{
	float:left;
	width:365px;
	margin-right:-365px;
}
.user-iconies li{
	float: left;
	width: 63px;
}
.user-iconies a{
	color: #aaa;
	text-decoration: none;
}
.user-iconies a:hover{color: #2eaadc;}
.user-iconies-1{
	text-align: center;
	display: block;
	line-height: 41px;
	height: 41px;
	margin-bottom: 5px;
}
.user-iconies-1 img{
	vertical-align: middle;
}
.user-iconies-2{
	text-align: center;
	display: block;
	font-size: 11px;
}
.big-main{
	padding-left: 180px;
	background-image: url(../Images/big-man.png);
    height: 357px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.noppy{padding-top: 0 !important;}
.sm11{font-size: 11px;}

/* CSS IDWeb */
.formrecover{
	margin-left:39%;
}
.labelform{
	color: rgb(73, 184, 228);
	font-weight:bold;
	font-size:20px;
	font-family:Arial,sans-serif;;
}
.passrecov{
	border-radius:5px;
	margin-bottom:25px;
	width:35%;
	height:35%;
	border-style:solid;
	border-color:#aaa;
	border-width:1px;
	padding:10px;
	background-color:rgb(73, 184, 228);
	color:white;
	font-family:Arial, sans serif;
	text-align:justify;
}
.errormess{
	color:rgb(73, 184, 228);
}
.contactform{
	width:460px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.areacontact{
	width:300px; 
	height:160px;
}
.contactobj{
	width:300px;
	height:25px;
}
.typolab{
	color:rgb(73, 184, 228);
	font-size:18px;
	font-weight:bold;
	text-align:right;
	padding-right:10px;
}
.firstblue{
	color:rgb(88, 88, 90);
}
.titlecontact{
	width:250px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	text-align:center;
}
.submitcontact{
	width:120px;
	height:40px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:90px;
	color:rgb(73, 135, 228);
	font-size:14px;
	font-weight:bold;
	border-radius:5px;
}

label[for=register-ville], select[name=register-ville] {
	display: none;
}

/* Formulaires */
input.contentinput, textarea.contentinput { margin-bottom: 2px; float: left; clear: both; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-left: 4px; overflow: visible; font: 12px/13px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; width: 266px; height: 30px; border: 1px solid #CCC; -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; -moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, .5); white-space: nowrap; cursor: text; -webkit-transition: opacity .1s,font-size .1s; -moz-transition: opacity .1s,font-size .1s; -o-transition: opacity .1s,font-size .1s; color: #a9a7a7; }
input.contentinput:focus, textarea.contentinput:focus { outline:0;color:#333;border-color:#989797;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6); }
textarea.contentinput { width: 500px; height: 250px; float: none; }
input.ac_loading { background: white url('images/loader-autocomplete.gif') no-repeat 100% 50%; }
label.contentinput { display: block; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, .5); color:#333; display: block; margin-bottom: 4px; }
a.contentvalid { float: left; margin-left: 4px; background: #e1dddd; border-color:#989797; color:#333; padding: 8px 15px 8px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #CCC; text-decoration: none; font-size: 12px; font-weight: bold; -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; -moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, .5); white-space: nowrap; -webkit-transition: opacity .1s,font-size .1s; -moz-transition: opacity .1s,font-size .1s; -o-transition: opacity .1s,font-size .1s;  }
.hidefirst { display:none; }
/* Calendriers */
table.calendrier {
	float: right;
	width: 40%;
	border-collapse: collapse;
	margin-left: 15px;
	border: 1px solid #bfbbbb;
}

table.calendrier td, table.calendrier th {
	padding: 4px;
	border: 1px solid #bfbbbb;
}

table.calendrier tr.dateaujourdhui th {
	border: 0;
}

table.calendrier tr td.cal_aujourdhui {
	background: #CCC;
}

table.calendrier tfoot td {
	text-align: center;
	position: relative;
}

table.calendrier input.time_option {
	position: absolute;
	z-index: 16;
	left: 5px;
	top: 7px;
}

table.calendrier div.time_recover {
	position: absolute;
	z-index: 15;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: #FFFFFF;
	display: none;
    -khtml-opacity:0.5; 
	-moz-opacity : 0.5; 
	-ms-filter: "alpha(opacity=50)"; 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
	filter : alpha(opacity=10); 
	opacity : 0.5;
}

/* PHOTO */
div.loading {
	display: block;
	width: 95%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e9e5e6;
}

div.loading img#photo, div.loading img#photo_event {
	max-width: 150px;
	max-height: 150px;
	border-color:#f9f9f9;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

div.loading div.contentimgnoResize {
	float: left;
	margin-top: 0;
	position: relative;
}

div.loading div.contentimgResize {
	float: right;
	margin-top: 0;
	position: relative;
}

div.loading div.imgResize {
	position:relative; overflow:hidden; width:75px; height:75px;
	border: 4px solid #f9f9f9;
	margin-top: 0;
}

div.loading div.imgResize {
	width:274px; height:137px;
}

div#contenu_avatar  div.loading div.imgResize {
	width:150px; height:150px;
}

div.error {
	display: none;
}

a.contentvalidright { float: right; }

hr.clear { clear: both; height: 0; border: 0; }

/* Bar top */

hr.top-bar { border: 1px solid #62c4eb; }
#inside-column-wrap { padding-left: 2px; }

/* Map */
.smallmap {
    height: 210px;
    border: 1px solid #ccc;
}

/* Resize */
.imgareaselect-border1 { background: url(images/border-v.gif) repeat-y left top; }
.imgareaselect-border2 { background: url(umages/border-h.gif) repeat-x left top; }
.imgareaselect-border3 { background: url(images/border-v.gif) repeat-y right top; }
.imgareaselect-border4 { background: url(images/border-h.gif) repeat-x left bottom; }
.imgareaselect-border1 { background: url(images/border-anim-v.gif) repeat-y left top; }
.imgareaselect-border2 { background: url(images/border-anim-h.gif) repeat-x left top; }
.imgareaselect-border3 { background: url(images/border-anim-v.gif) repeat-y right top; }
.imgareaselect-border4 { background: url(images/border-anim-h.gif) repeat-x left bottom; }
.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 { opacity: 0.5; filter: alpha(opacity=50); }
.imgareaselect-handle { background-color: #fff; border: solid 1px #000; opacity: 0.5; filter: alpha(opacity=50); }
.imgareaselect-outer { background-color: #000; opacity: 0.5; filter: alpha(opacity=50); }
.imgareaselect-selection {  }

/**************************************************************************************************************************************************************************************************
****************************************************************************** Tchat ******************/

.box-tchat { position:absolute;left:220px;height:275px;width:250px;z-index:15000;display:block;top:-250px;left:200px; }
.box-tchat .head-tchat {	position: absolute; top:0; left:0; width: 250px; border-bottom: 1px solid #99CCCC; height: 35px; background: url('../Images/chat/head-box.png'); }
.box-tchat .body-tchat { position: absolute; overflow-y: auto; overflow-x: hidden; height: 215px; width: 248px; top: 35px; left:0; border-left: 1px solid #8ebbbb; border-right: 1px solid #8ebbbb; background: white; }
.box-tchat .foot-tchat { position: absolute; bottom: 0; border-top: 1px solid #99CCCC; width: 250px; height: 25px; }
.box-tchat .foot-tchat input{ width: 244px; color: #dadbd9; height: 17px; padding: 4px 2px 4px 2px; border-left: 1px solid #8ebbbb; border-right: 1px solid #8ebbbb; border-top:0; border-left: 1px solid #8ebbbb; border-bottom: 1px solid #8ebbbb; }
.box-tchat img.fleche-box-tchat { position: absolute; top:252px; left: -25px; }
span.newMessage { display: none; }
ul.listConversations span.newMessage { position: absolute; left:-15px; top:5px; padding-left:2px;padding-right:2px;line-height:19px;font-size:11px;border:1px solid #cbc5c5;background:#f3eded }
ul.listConversations div.box-tchat div.body-tchat dl { margin-top: 4px; padding-bottom: 2px; }
ul.listConversations div.box-tchat div.body-tchat dd { width: 98%; margin-left: 2px; margin-right: 2px; min-height: 35px; }
ul.listConversations div.box-tchat div.body-tchat dd fieldset{border:0;border-top:1px solid #CCC;margin:0;padding:0}
ul.listConversations div.box-tchat div.body-tchat dd legend{margin-left:5px;color:#706c6c;font-size:90%}
ul.listConversations div.box-tchat div.body-tchat dd span.text_tchat{text-align:justify;display:block;word-wrap:break-word;max-width:175px;padding:4px 5px}
ul.listConversations div.box-tchat div.body-tchat dd img{width:35px;height:35px;position:relative;float:right;margin-right:4px;margin-top:0}
ul.listConversations div.box-tchat div.head-tchat a.user-photo { padding: 1px; position: absolute; left: 5px; top: 5px; border-radius: 2px; box-shadow: 1px 1px 1px #666; background-image: url(../Images/bgr-pink.png); }
ul.listConversations div.box-tchat div.head-tchat img { width: 25px; height: 25px; }
ul.listConversations div.box-tchat div.head-tchat span.texte_tchat_header { position: absolute; display: block; left: 75px; top: 11px; text-decoration: underline; }
ul.listConversations div.box-tchat div.head-tchat span.status-online { position: absolute; right: 5px; top: 15px; display: block; }
ul.listConversations li.actif a{text-decoration:underline}
ul.listConversations li a.action-close { position: absolute; right: 15px; display: none; }
ul.listConversations li a.action-block { position: absolute; right: 28px; display: none; }
ul.listConversations li a.action-close:hover { background-image: url(../Images/icon-x-survol.png); }
ul.listConversations li a.action-block:hover { background-image: url(../Images/icon-stop-survol.png); }

/* Tchat room */

.box-tchat-room { position:relative;height:450px;width:100%;display:block; border: 1px solid #99CCCC; margin-top: 45px; }
.box-tchat-room .head-tchat { position: absolute; top:0; left:0; width: 99%; border-bottom: 1px solid #99CCCC; height: 35px; padding-top: 4px; padding-left: 1%; }
.box-tchat-room .body-tchat { position: absolute; overflow-y: auto; overflow-x: hidden; height: 384px; width: 69%; top: 41px; right:0; border-left: 1px solid #8ebbbb; background: white; }
.box-tchat-room .foot-tchat { position: absolute; bottom: 0; border-left: 1px solid #99CCCC; width: 69%; right: 0; height: 25px; }
.box-tchat-room .foot-tchat input { width: 98%; color: #dadbd9; height: 16px; padding: 4px 1% 4px 1%; border-right: 1px solid #8ebbbb; border-top: 1px solid #8ebbbb; border-left: 0; border-bottom: 0; }
.box-tchat-room div.list-membre-room { width: 31%; padding-left: 1px; height: 415px; position: absolute; top:41px; left:0; }
.box-tchat-room ul.liste_membre_room { width: 100%; padding: 0; margin-top: 5px; overflow-y: auto; }
.box-tchat-room ul.liste_membre_room li { font-size: 15px 95%; position: relative; width: 99%; padding-top: 21px; padding-left: 1%; height: 34px; border-bottom: 1px solid black }
.box-tchat-room ul.liste_membre_room li:hover { background: url('http://www.normandbat.com/wp-content/themes/comet-mariage/images/images/fond-ecran-degrade.png') repeat-x; }
.box-tchat-room ul.liste_membre_room li a.close_conversation { width: 9px; height: 8px; position: absolute; top: 2px; left:2px; background-image: url(../Images/icon-x.png); display: none; }
.box-tchat-room ul.liste_membre_room li a.bloque_conversation { width: 9px; height: 10px; position: absolute; top: 1px; left:12px; background-image: url(../Images/icon-stop.png); display: none; }

.box-tchat-room a.user-photo { position: absolute; top: 4px; right: 15px; padding: 4px; border-radius: 5px; box-shadow: 3px 3px 3px #666; margin-right: -5px; }
.box-tchat-room a.bgr-pinkimg { background-image: url(../Images/bgr-pink.png); }
.box-tchat-room img.avatar { border-radius: 5px; width: 35px; height: 35px; }
.box-tchat-room img.info_creation { width: 12px; height: 12px; position: absolute; left: 2px; top: 2px; }
div#tchat-room a.refresh_room img { margin: 0 auto; display: block; width: 25px; height :25px; }

.box-tchat-room div.body-tchat dl { margin-top: 5px; }
.box-tchat-room div.body-tchat dd { width: 98%; margin-left: 2px; margin-right: 2px; min-height: 35px; }
.box-tchat-room div.body-tchat dd fieldset{border:0;border-top:1px solid #CCC;margin:0;padding:0}
.box-tchat-room div.body-tchat dd legend{margin-left:5px;color:#706c6c;font-size:90%}
.box-tchat-room div.body-tchat dd span.text_tchat{text-align:justify;display:block;word-wrap:break-word;max-width:80%;padding:4px 5px}
.box-tchat-room div.body-tchat dd img{width:35px;height:35px;position:relative;float:right;margin-right:4px;margin-top:0}

select.select_room { width: 118px; font-size: 11px; }

div#tchat-onetoone, div#tchat-groupe { display: none; }

/* Tchat */

.listConversations  li{ position: relative; }

#contenutchat,#contenugroupe{position:relative;margin-left:auto;margin-right:auto;margin-top:55px;padding-top:0;width:100%;height:575px}
#contenuListeConversations{position:absolute;width:35%;z-index:1;border-right:1px solid #CCC;clear:both}
.contenuListeConversations_left{left:0}
.contenuListeConversations_right{right:0}
#listConversations,#invitationOpen,#conversationGroupe{position:relative;float:left;width:100%;z-index:1}
#invitationOpen,#conversationGroupe{margin-top:75px}
#listConversations h4,#invitationOpen h4,#conversationGroupe h4{background:#CCC;border-bottom:1px solid #000;height:15px;margin:0;padding:5px}
#listConversations ul,#invitationOpen ul,#conversationGroupe ul{position:relative;width:100%;z-index:5;margin:0;padding:0}
#listConversations li,#invitationOpen li,#conversationGroupe li{position:relative;display:block;width:100%;background:url(images/degradeconversations.png) repeat-x;background-position:0 -115px;z-index:9;border-bottom:1px solid #d0cccc}
#listConversations li span.newMessage{position:absolute;top:7px;right:121px;height:19px;padding-left:2px;padding-right:2px;line-height:19px;font-size:11px;display:none;border:1px solid #cbc5c5;background:#f3eded}
#listConversations li.actif{background:#FFF}
#listConversations li a.choiceConversation,#conversationGroupe li a.choiceConversation{height:35px;line-height:35px;display:block;vertical-align:middle;text-decoration:none;font-weight:700;font-size:12px;color:#706c6c;margin:0;padding:0}
#listConversations li a.closeConversation,#invitationOpen ul li a.closeConversation,#listConversations li a.bloqueConversation,#invitationOpen ul li a.bloqueConversation,#conversationGroupe ul li a.closeConversation{position:absolute;top:10px;right:5px;width:11px;height:11px;display:none;padding:0}
#listConversations li a.bloqueConversation,#invitationOpen ul li a.bloqueConversation{right:45px}
#invitationOpen ul li a.beginConversation{position:absolute;top:8px;right:135px;width:11px;height:11px;opacity:0.5;-moz-opacity:0.5;-ms-filter:alpha(opacity=50);filter:alpha(opacity=50);padding:0}
#listConversations li a.closeConversation img,#listMembreGroupe li a.closeConversation img,#invitationOpen ul li a.closeConversation img,#listConversations li a.bloqueConversation img,#invitationOpen ul li a.bloqueConversation img{opacity:0.5;-moz-opacity:0.5;-ms-filter:alpha(opacity=50);filter:alpha(opacity=50)}
#listConversations li a img.avatar,#invitationOpen ul li img.avatar,#conversationGroupe ul li img.avatar{position:absolute;left:2px;top:2px;width:31px;height:31px;z-index:11;border-top:1px solid #d0cccc;border-left:1px solid #d0cccc;border-right:1px solid #f4eeee;border-bottom:1px solid #f4eeee}
#listConversations li a img.status,#invitationOpen ul li img.status,#conversationGroupe ul li img.status{position:absolute;right:25px;top:11px;width:11px;height:11px;z-index:11}
#listConversations li a span.nom_tchat,#invitationOpen ul li span.nom_tchat,#conversationGroupe ul li span.nom_tchat{margin-left:37px}

#conversationOnline{position:absolute;width:65%;height:570px;left:35%;overflow:hidden;border-left:1px solid #CCC}
#conversationOnline #infoConversation{position:absolute;top:0;left:0;width:100%;height:55px;background:#FFF}
#conversationOnline #messageConversation{position:absolute;top:54px;left:0;width:100%;height:485px;overflow:auto;}
#conversationOnline #messageConversation dl{margin-top:4px;/*position:absolute;left:0;bottom:0;width: 98%;*/}
#conversationOnline #messageConversation dd{width:98%;margin-left:2px;margin-right:2px}
#conversationOnline #messageConversation dd fieldset{border:0;border-top:1px solid #CCC;margin:0;padding:0}
#conversationOnline #messageConversation dd legend{margin-left:5px;color:#706c6c;font-size:90%}
#conversationOnline #messageConversation dd span.text{text-align:justify;display:block;padding:4px 65px 4px 5px}
#conversationOnline #messageConversation dd img{width:35px;height:35px;position:relative;float:right;margin-right:4px;margin-top:0}
#conversationOnline #sendConversation{position:absolute;top:540px;left:0;width:99%;height:30px;border-right:1px solid #dadbd9;border-bottom:1px solid #dadbd9;}
#conversationOnline #sendConversation input{width:100%;height:27px;border-top:1px solid #dadbd9;border-left:0;border-right: 0;color:#dadbd9}

#invitation{left:180px;display:block}
#invitationOpen{width:100%;}
#invitationOpen ul li{height:35px}
#invitationOpen ul li span.nom{line-height:35px;vertical-align:middle;text-decoration:none;font-weight:700;font-size:12px;color:#706c6c}
#invitationOpen ul li a{text-decoration:none;font-weight:700;font-size:12px;color:#706c6c}
#invitationOpen ul li a.beginConversation:hover,#listConversations li a.closeConversation img:hover,#listMembreGroupe li a.closeConversation img:hover,#invitationOpen ul li a.closeConversation img:hover,#listConversations li a.bloqueConversation img:hover,#invitationOpen ul li a.bloqueConversation img:hover{opacity:1.0;-moz-opacity:1.0;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100)}

.scrollbar_drag { position: relative; right: 0; width: 15px; background: #FFF;border: 1px solid black; bottom: 0; }


/* Event display */

.event_header { width: 622px; height: 219px; background: url('../Images/event_header.png'); margin-top: -15px; margin-left: auto; margin-right: auto; position: relative; }
.event_header .event_present { width: 219px; height: 205px; position: absolute; left: 21px; top: 5px; }
.event_header .event_author { position: absolute; left: 275px; top: 5px; font-size: 10px; }
.event_header .conversation-left { width: 40px; }
.event_header .conversation-main { width: 280px; }
.event_header .image_event { width: 211px; border: 4px solid #4089c7; margin-top: 5px; }
.event_header .event_description { position: absolute; left: 275px; top: 85px; font-size: 11px; }

.event_content { width: 622px; height: 242px; background: url('../Images/event_content.png'); margin-top: 15px; margin-left: auto; margin-right: auto; position: relative; }
.event_content .event_passion { width: 180px; left: 425px; top: 15px; position: absolute; }
.event_content .event_quivient { width: 340px; height: 210px; position: absolute; top: 15px; left: 21px; }

.event_content_other { width: 622px; height: 242px; background: url('../Images/event_content_other.png'); margin-top: 15px; margin-left: auto; margin-right: auto; position: relative; }
.event_content_other .event_carte { width: 180px; left: 21px; top: 15px; position: absolute; }
.event_content_other .event_carte img { max-width: 175px; max-height: 175px; }
.event_content_other .event_carte_info { display: block; position: absolute; left: 125px; font-size: 11px; top: 5px; }
.event_content_other .event_map{ width: 350px; height: 210px; position: absolute; top: 15px; left: 255px; }

span.title_event_header { font-family: 'Lobster', cursive; font-size: 27px; margin-top: 11px; display: block; }
span.title_event { font-family: 'Lobster', cursive; font-size: 21px; }
span.nb_fan { font-size: 17px; color: #1980c1; }
a.event_reponse { display: block; width: 100%; text-align: center; bottom: 0; position: absolute; margin-left: -25px; }

.contentCommentHeader { width: 100%; height: 39px; }
.right-contentCommentHeader { margin-left: 49px; margin-right: 15px; }
.sendComment { width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #dadbd9; padding: 10px; color: #dadbd9; }
.comment .avatar img { position: relative; border-radius: 5px; width: 37px; height: 37px; float: left; } 
.listComment { position: relative; width: 100%; height: 250px; overflow-y: auto; }
.listComment li { position: relative; width: 100%; height: 45px; margin-top: 2px; }
.listComment li  span.text_comment {text-align:justify;display:block;word-wrap:break-word;padding:4px 5px; margin-left: 50px; font-size: 10px; border-radius: 5px; background-image: url(../Images/bgr-blue.png); position: relative;}
.listComment li img { float: left; width: 35px; height: 35px; border-radius: 5px; }
.listComment li h4 { margin: 0; font-size: 10px; }
.listComment li .chat-tip-left { background-image: url(../Images/tip-blue-left.png); }

.list_passion { width: 100%; }
.list_passion li { padding: 5px; display: block; height: 25px; position: relative; }
.list_passion li img { float: left; width: 32px; }
.list_passion li span.text_passion { display: block; position: absolute; left: 40px; top: 2px; word-wrap:break-word; font-size: 11px; }
.list_passion li span.text_passion h4 { margin: 0; font-size: 12px; }

.bottom-right-shadow { position:absolute; right:0; bottom: 0; background: url('../Images/bottom-right-shadow.png') no-repeat right bottom; width: 116px; height: 116px; z-index: 0; }
.bottom-left-shadow { position:absolute; left:0; bottom: 0; background: url('../Images/bottom-left-shadow.png') no-repeat left bottom; width: 108px; height: 110px; z-index: 0; }

/* Event Add */

.title_eventorganise { font-family: 'Lobster', cursive; font-size: 27px; display: block; position: relative; float: left; margin-top: 15px; }

/* Notification */

.notifications { position: absolute; top: 12px; right: 5px; height: 50px; width: 277px; }
.notifications > li { position: relative; padding: 5px; float: left; display: block; margin-left: 5px; width: 75px; height: auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #c4e8f5; border: 1px solid #98d1e6; }
.notifications > li > span { display: block; position: absolute; right: 5px; top: 5px; color: #2c91b6; font-weight: bold; font-size: 10px; }
.notifications > li:hover { cursor: pointer; background: #d0ecf6; }

.notifications li .notif-room { position: absolute; width: 250px; height: 250px; border: 1px solid #c8bfbf; background: #FFF; top: 65px; left: -50%; margin-left: -45px; z-index: 14000; }
.notifications li .notif-room  img.fleche-notif { position: absolute; left: 50%; margin-left: -32px; top: -45px; }
.notifications li .notif-room ul { position: relative; width: 100%; padding: 0; }
.notifications li .notif-room ul li { position: relative; width: 100%; height: 45px; border-bottom: 1px solid #c8bfbf; }
.notifications li .notif-room ul li > span { position: absolute; display: block; left: 50px; top: 5px; font-size: 10px; }
.notifications li .notif-room ul li img.avatar { position: absolute; left: 5px; top: 5px; width: 35px; height: 35px; }
.notifications li .notif-room { display: none; }

/* Avatar Modif */

.popup-avatar { display:block; text-align:center; font-weight:bold; font-size:18px; color:black; text-decoration:none; font-family:Arial, Verdana, sans-serif; width: 450px; z-index:15000; background: #FFFFFF; padding: 15px; }

.background-avatar { display:none; position:fixed; height:100%; width:100%; top:0; left:0; background:#ffffff; z-index:1001; }

/* Passion */


ul.listepassions {
	list-style-type: none;
	width: 100%;
	overflow: auto;
	display: block;
}

ul.listepassions li {
	float: left;
	padding: 5px;
	width: 95px;
	text-align: center;
	border: 1px solid #FFCCCC;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	font-weight: bold;
	font-family: Futura;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	margin-left: 5px;
}

ul.listepassions li:hover {
	cursor: pointer;
	background: #CCFFFF;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}

ul.listepassions li img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

h2.title_underline { font-family: Arial; border-bottom: 1px solid #bfbbbb; font-size:16px; color: #545252; background: url('../Images/puce.png') left no-repeat; padding-left: 20px; margin-bottom: 15px;  margin-top: 15px; }
h3.title_underline { border-left: 3px solid #FF99FF; padding: 5px; border-bottom: 1px dashed #FFCCFF; margin-bottom: 15px; }

/* For the lost password */
.email-box {
    background-image: url("../Images/email.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 1% 1% 1% 1%;
    min-height: 300px;
    position: relative;
}

.email-form {	margin: 8% auto 0;
              position:absolute;
              padding-left:5%;
              width: 520px;}

.email-bold {color:#fff; font-weight:bold; font-size:16px; }
.email-desc {color:#fff; font-weight:normal; font-size:14px; }
.email-form label {
    display: inline-block;
    height: 35px;
    width: 150px !important;
    color:#FFF;
    font-weight:bold;
    font-size:14px;
}	
.email-form .text {
    background-color: #E1E1E1;
    background-image: url("../Images/input-bgr.png");
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #D3D4D4;
    border-style: solid;
    border-width: 2px;
    font-size: 11px;
    height: 20px;
    line-height: 14px;
    padding: 2px;
}

.email-btn{
    color: #fff;
    background-image: url("../Images/btn-empty.png");
    text-align: center;
    text-decoration: none;
    line-height: 28px;
    width: 81px;
    height: 28px;
    display: inline-block;
    border:none;
    background-color:transparent;
    position:absolute;
    margin-left: 30%;
}

#lostpassword-box{
    margin: -31px 194px 0;
    position: relative;
    background-image: url(../Images/sb-title-shadow.png);
    background-position: 0 0;
    background-repeat:repeat-y;
}

#lostpassword-box #home-icons{
    margin-bottom:0px;
}

#lostpassword-box-in{
    padding: 25px 20px;
    margin:0 26px;
    background:#fff;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #69c4e6;
}
