*{
	margin:0;
	padding:0;
	list-style:none;
}
html{
	background:url(../images/bgr.jpg) 50% 0 #fff;
	min-width:1000px;
}
body{
	font-family:Arial, sans-serif;
	font-size:12px;
	line-height:1.3;
}
.clear{
	clear:both;
	height:0;
	overflow:hidden;
}
.hide{ display:none !important; }
input, select, textarea{
	font-family:inherit;
	font-size:inherit;
}
.submit{ cursor:pointer; }
fieldset{ border:none; }
label{ cursor:pointer; }
a:hover{
	cursor:pointer;
	text-decoration:none;
}
a{ color:inherit; }
a img{ border:none; }
.nom{ margin:0 !important; }
a.rev{ text-decoration:none; }
a.rev:hover{ text-decoration:underline; }
.ld{ float:left !important; }
.rd{ float:right !important; }
.first{ margin-top:0 !important; }
.last{ margin-bottom:0 !important; }
.ca{ text-align:center; }
.ra{ text-align:right; }
.la{ text-align:left; }
.inh{ color:inherit !important; }
.upper{ text-transform:uppercase; }
.vam{ vertical-align:middle; }
.nowrap{ white-space:nowrap; }
.cfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
	overflow:hidden;
}
.rep{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	display:block;
}

.in{
	width:960px;
	margin:0 auto;
	position:relative;
}

#wrap-outer{
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #1a171b;
	position: relative;
}
#logo-block{
	width: 253px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -122px;
}
#logo{
	width:253px;
	height:151px;
	background:url(../images/logo.png) no-repeat;
	overflow:hidden;
}
.logo-enterprise{
	background:url(../images/logo-enterprise.png) !important;
}
#top-social-links{
	margin-top: -15px;
	position: relative;
	text-align: center;
	left:-5px;
}
#top-social-links a{
	display: inline-block;
	width: 22px;
    height: 23px;
    margin: 0 6px;
}
#top-facebook-link{
	background-image: url(../images/icon-facebook.png);
}
#top-twitter-link{
	background-image: url(../images/icon-twitter.png);
}

#header{
	margin: 30px 0 100px;
}
#header-left{
	float:left;
	width:50%;
}
#header-right{
	float:right;
	width:50%;
}
#header-left-in1{
	margin-right: 145px;
	padding: 2px 0;
}
#header-right-in1{
	margin-left: 145px;
	padding: 2px 0;
}
#header-left-in1, #header-left-in2, #header-right-in1, #header-right-in2{
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d3d3d4;
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d4;
}
#header-left-in2, #header-right-in2{
	height:70px;
	position: relative;
}
#header-left-in2{
	text-align: right;
	line-height: 70px;
	padding-right: 15px;
	white-space: nowrap;
}
#header-left-in2 *{
	vertical-align: middle;
}
#inscription-cont{
	width:334px;
	margin:0 auto;
}
#txt-inscription{
	width:259px;
	height:51px;
	background:url(../images/inscription.png);
	overflow:hidden;
	display: inline-block;
}
#register-link{
	width:74px;
	height:39px;
	background:url(../images/button-cest-parti.png);
	overflow:hidden;
	display: inline-block;
	margin-left: 5px;
}
#register-link-enterprise{
	width:107px;
	height:39px;
	background:url(../images/btn-je-nous-inscris.png);
	overflow: hidden;
	display: block;
	margin-left:auto;
	margin-right:auto;
	position: relative;
    top: 15px;
}
#login-form{
	padding-top: 13px;
	width:342px;
	margin:0 auto;
}
#login-form label{
	color: #000;
	margin-bottom: 1px;
	display: block;
}
.header-form-group{
	margin-right: 13px;
	float: left;
	width: 120px;
	position: relative;
}
.header-submit-cont{
	width:75px;
}
#login-form .header-small, .connexion-small{
	display:inline;
	font-size: 9px;
	color: #838385;
}
.text{
	font-size: 11px;
	background-image: url(../images/input-bgr.png);
	line-height: 14px;
	padding: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: #d3d4d4;
	height: 14px;
	background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-position: top;
}
#login-form .text{
	width: 112px;
}
.form-icon{
	position: absolute;
}
#login-form .form-icon{
	top: 25px;
	right: 8px;
}
.icon-password{
	background-image: url(../images/icon-password.png);
	width: 7px;
	height: 7px;
}
.icon-username{
	background-image: url(../images/icon-username.png);
	width: 8px;
	height: 7px;
}
#login-form .submit{
	background-color: transparent;
	background-image: url(../images/btn-connexion.png);
	background-repeat: no-repeat;
	border: none;
	width: 75px;
	height: 22px;
}
.cb-replace{
	background-image: url(../images/checkbox.png);
	background-position: 0 -14px;
	width: 12px;
	height: 14px;
	display: inline-block !important;
}
.cb-active{
	background-position: 0 0;
}
.blue{ color: #49B8E4; }
.pink{ color: #e476a8; }
.grey{ color: #acaeaf; }
#home-caption{
	margin: 45px 0;
	text-align: center;
}
#home-caption h2{
	font-size: 22px;
	color: #58585A;
	line-height: 25px;
}

#home-slider{
	overflow: hidden;
}
#home-slider .slider-container-in{
	margin: 0 auto;
	width: 700px;
	height: 253px;
	position: relative;
}
#home-icons{
	text-align: center;
	margin: 45px 0;
}
#home-icons img{
	margin: 0 15px;
	vertical-align: middle;
}
.blue-box-top{
	background-image: url(../images/blue-triangles.png);
	background-position: 50% 0;
	height: 20px;
}
.blue-box{
	background-image: url(../images/blue-box.jpg);
	background-position: 50% 0;
	padding: 40px 0;
}
.blue-box-in{
	margin: 0 auto;
	width: 780px;
}
.blue-box-col{
	font-size: 15px;
	color: #fff;
	background-image: url(../images/landing-text-bgr.png);
	padding: 30px 15px;
	width: 340px;
	text-align: justify;
}
.blue-box-col h2{
	font-size: 15px;
	font-style: italic;
}
.blue-box-col h2, .blue-box-col p{ margin-bottom: 15px; }

#footer{
	color: #58585A;
	text-align: center;
    padding: 40px 0;
}
.designed-cont{
	margin: 0 auto;
	width: 780px;
	position: relative;
}
.designed a{
	color: #1894C0;
}
#footer-links{
	margin-bottom: 40px;
}
#footer-links li{
	display: inline-block;
	margin: 0 7px;
	font-size: 14px;
	font-weight: bold;
    font-style: italic;
}
#footer-logo{
	background-image: url(../images/footer-logo.png);
	margin-left: -24px;
	margin-top: -24px;
	width: 48px;
	height: 47px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.designed{
	text-align: center;
	width:340px;
}
.designed-in{display: inline-block;}
.designed-line{
	display: inline-block;
	background-image: url(../images/designed-line.gif);
    background-repeat: repeat-x;
    background-position: 0 50%;
}

.popup-box{
}
#register{
	width:600px;
}
.popup-box .fancybox-skin{
	border-radius: 30px;
	background-color: #000;
}
.popup-box .fancybox-inner{
	padding: 30px 0;
}
.popup-caption{
	font-size: 29px;
	font-style: italic;
	color: #fff;
	background-color: #071317;
	line-height: 45px;
	height: 45px;
	width: 100%;
	text-align: center;
}
.popup-submit-cont{
/*
	background-color: #47bae5;
	height: 45px;
	line-height: 45px;
	text-align: center;
*/
}
.popup-submit-cont .submit{
	width:600px;
	height:45px;
	background:url(../images/je-minscris.png) 50% 50% no-repeat #47bae5;
	overflow:hidden;
	border: none;
}
.popup-submit-cont-enterprise .submit{
	width:600px;
	height:45px;
	border: none;
	color:#1A171B;
	font-size: 29px;
	background:#47bae5;
	font-weight: bold;
}
.popup-content{
	padding: 35px 40px;
	color: #47BAE5;
}
.popup-form-col{
	width: 250px;
}
.popup-form-col p{
	margin-bottom: 15px;
}
.popup-form-col .text{
	width:134px;
}
.popup-box .fancybox-close{
	background-image: url(../images/popup-close.png);
	width: 52px;
	height: 52px;
	right:5px;
	top:5px;
}
.validation-error, .validation-ok{
	background-repeat: no-repeat;
	background-position: 0 50%;
	margin-left: 15px;
	padding-left: 13px;
}
.validation-error{
	background-image: url(../images/icon-error.png);
	color: #DD0B1D;
}
.validation-ok{
	background-image: url(../images/icon-ok.png);
	color: green;
}
.register-form-part2{
	display:none;
}
.seppa{
	margin-left: 15px;
}
#connexion-bar{
	background-image: url(../images/connexion-strip.png);
	background-repeat: repeat-x;
	height: 31px;
}

#connexion-box{
	margin: -31px 194px 0;
	position: relative;
	background-image: url(../images/sb-title-shadow.png);
	background-position: 0 0;
	background-repeat:repeat-y;
}
#connexion-box #home-icons{
	margin-bottom:20px;
}
#connexion-box-in{
	padding: 25px 20px;
	margin:0 26px;
	background:#fff;
	border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #69c4e6;
}
.blue-box-asdf{
	margin-top: -20px;
	position: relative;
	z-index: 2000;
}
.connexion-shadow-1{
	width:581px;
	height:11px;
	background:url(../images/connexion-shadow.png) 50% 0;
	overflow:hidden;
	margin: 20px auto;
	max-width:100%;
}
.connexion-shadow-2{
	width:581px;
	height:11px;
	background:url(../images/connexion-shadow2.png);
	overflow:hidden;
	margin: 20px auto;
}
.cbox-title{
	font-style: italic;
	font-size:12px;
}
.connexion-form-in{
	width: 450px;
	margin: 0 auto;
}
.connexion-form-col{
	margin-bottom: 25px;
}
.connexion-submit-cont .submit{
	width:100%;
	background-color: #47bae5;
    background-image: url(../images/connexion.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    height: 40px;
}
.connexion-form-col input.text{
	width: 110px;
}
.connexion-form-col p{
	margin-bottom: 10px;
}
#top-small-title{
	text-align: center;
	font-size: 14px;
	color: #58585A;
	font-weight: bold;
}
.admin-spacer{ height: 50px; }
.menu li{
	background-image: url(../images/menu-highlight.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	width: 62px;
}
.menu li a{
	font-size: 10px;
	text-decoration: none;
	color: #333;
}
.menu li a:hover{text-decoration: underline;}
.menu-icon{
	text-align: center;
	line-height: 45px;
	height: 45px;
	display: block;
}
.menu-icon img{
	vertical-align: middle;
}
.menu-text{
	text-align: center;
	height: 26px;
	display: block;
	line-height: 26px;
}

#header-right .menu{
	float:left;
}
#header-left .menu li{
	float: left;
}
#header-right .menu li{
	margin-left: 2px;
	float: left;
}
#recherche-box{
	padding-top: 12px;
	margin-right:10px;
	float: right;
	width: 174px;
}
.search-form{
	background-image: url(../images/search-bgr.png);
	width: 174px;
	height: 23px;
	position: relative;
}
.search-form .submit{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 0;
	right: 0;
	border:none;
	background:none;
}
.search-form .text{
	border:none;
	background:none;
	width:142px;
	padding:4px;
}
.boxy-list{
	text-align: center;
}
.boxy-item{
	display: inline-block;
	vertical-align: middle;
	padding: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #bcbfbf;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #dddcdd;
    background-image: url(../images/admin-box-bgr1.png);
    background-repeat: repeat-x;
    background-position: top;
}
.boxy-item a{
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	color: #666;
}
.boxy-num{
	background-color: #eaf5f9;
	background-image: url(../images/admin-box-bgr2.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border-width: 1px;
    border-style: solid;
    border-color: #cacecf;
    text-align: center;
    line-height: 77px;
    height: 77px;
    margin-bottom: 6px;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    color: #96a2a9;
    text-shadow:5px 5px 5px #bbcad0;
}
#connexion-box p{
	margin-bottom: 15px;
}
.beta{
	margin: 0 auto;
	margin-bottom: 30px;
	width: 1000px;
}
.beta-left{
	width: 540px;
	float: left;
}
.beta-right{
	width: 425px;
	float: right;
	padding-top: 55px;
}
.bl-photo{
	width: 121px;
	float: left;
}
.bl-photo img{
	border-radius: 6px;
	display: block;
}
.bl-link{
	box-shadow:5px 5px 10px #666;
	display: block;
	padding: 10px;
	border-radius: 8px;
}
.bl-right{
	width: 370px;
	float: right;
	padding-top: 55px;
}
.white-quote{
	background-color: #fff;
	border-radius: 8px;
	position: relative;
	margin-top: 15px;
    padding: 15px;
    color:#97989a;
}
.white-tip{
	background-image: url(../images/white-tip.png);
	width: 11px;
	height: 13px;
	overflow: hidden;
	position: absolute;
	left: -11px;
	top: 50%;
	margin-top:-7px;
}
.btn-partager, .btn-gerer{
	border-width: 1px;
	border-style: solid;
	border-color: #e0e1e2;
	border-radius: 5px;
	width: 79px;
	height: 25px;
	position: absolute;
	right: 37px;
	bottom: -14px;
}
.btn-partager{ background-image: url(../images/btn-partager.png); }
.btn-gerer{ background-image: url(../images/btn-gerer.png); }
.br-link img{
	border-radius: 6px;
	display: block;
}
.br-link{
	box-shadow:5px 5px 10px #666;
	display: block;
	padding: 6px;
	border-radius: 6px;
}
.br-photo{
	width: 74px;
	float: left;
}
.br-text{
	width: 330px;
	float: right;
}
.black-quote{
	background-image: url(../images/black-bgr.png);
	padding: 8px 12px;
	border-radius: 5px;
	position: relative;
	color: #fff;
    margin-top: 10px;
}
.br-pagination{
	margin-top: 12px;
}
.pages{
	float: right;
}
.pages li{
	margin-left: 4px;
	float: left;
}
.pages a{
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	width: 17px;
	height: 22px;
	display: inline-block;
	font-weight: bold;
    background-image: url(../images/pagination-bgr.png);
    background-repeat: no-repeat;
    color: #fff;
}
.pages .active, .pages a:hover{background-position: 0 -22px;}
.pages-lbl{ line-height: 22px; }
.black-tip{
	background-image: url(../images/black-tip.png);
	width: 7px;
	height: 14px;
	overflow: hidden;
	position: absolute;
	left: -7px;
	top: 50%;
	margin-top: -7px;
}
.funny-quotes{
	background-image: url(../images/funy-quotes.png);
	width: 34px;
	height: 24px;
	position: absolute;
	top: -16px;
	right: -4px;
}
.cbox-photo{
	margin-left:-100%;
	float: left;
}
.cbox-text{
	width: 100%;
	float: left;
}
.cbox-text-in{
	margin-left:65px;
}
.cbox-link img{
	border-radius: 6px;
	display: block;
}
.cbox-link{
	box-shadow:5px 5px 10px #aaa;
	display: block;
	padding: 5px;
	border-radius: 6px;
}
.bgr-blue{ background-image: url(../images/bgr-blue.png); }
.bgr-pink{ background-image: url(../images/bgr-pink.png); }
.bgr-grey{ background-color:#949496; }
.bgr-grey2{ background-color:#bfc0c1; }
.bgr-grey3{ background-color:#3d3c3f; }
.bgr-pink2{ background-color:#f6bfdb; }
.bgr-darkblue{ background-color:#155f72; }
.bgr-blue2{ background-color:#13235b; }
.bgr-blue3{ background-color:#0e72b5; }


#inside-main{
	background-image: url(../images/sb-title-shadow.png);
	background-repeat: repeat-y;
	background-position: 194px 0;
	position: relative;
}
#inside-column-wrap{
	background-color: #fff;
	margin:0 220px;
	padding-bottom: 145px;
}
#sidebar-left{
	margin-left: -100%;
	width: 220px;
	float: left;
}
#sidebar-left-in{}
#sidebar-right{
	margin-left: -220px;
	width: 220px;
	float: left;
}
#sidebar-right-in{}
#inside-column{
	width: 100%;
	float: left;
}
.sb-title{
	background-image: url(../images/connexion-strip.png);
	line-height: 31px;
	height: 31px;
	font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
}
#sidebar-left .sb-title span{
	float:right;
	width:202px;
	background-image:url(../images/sb-title-shadow.png);
	background-repeat: repeat-y;
    background-position: 100% 0;
}
#sidebar-right .sb-title span{
	padding-left: 20px;
	width: 190px;
	float: left;
}
.sb-block{
	padding-top: 15px;
	padding-bottom: 15px;
}
.sb-more-padding{
	width:180px !important;
	padding-right:20px !important;
}
#sidebar-right .sb-block{
	padding-left: 20px;
	width: 180px;
}
#sidebar-left .sb-block{
	padding-right: 10px;
	width: 190px;
	float:right;
}
.sb-title a{ color: #000; }
#sidebar-right .advertisement{
}
.users-list1{}
.users-list1 li{
	margin-top: 7px;
}
.users-list1 li:first-child{margin-top:0;}
.users-list1 .user-photo, .slurpee-data .user-photo{
	padding: 3px;
	border-radius: 3px;
	float: left;
	box-shadow:3px 3px 3px #666;
}
.users-list1 .user-photo img, .slurpee-data .user-photo img{
	border-radius: 3px;
	display: block;
}
.users-list1 .user-name{
	line-height: 27px;
	margin-left: 10px;
	float: left;
	width:100px;
}
.users-list1 .user-name a{color: #58585A;}
.user-status{
	width: 9px;
	height: 8px;
	float: left;
	position: relative;
	top: 8px;
	margin-right: 2px;
}
.status-online{background-image: url(../images/circle-green.png);}
.status-offline{background-image: url(../images/circle-grey.png);}
.action-block{
	width: 9px;
	height: 10px;
	float: left;
	position: relative;
	top: 7px;
	background-image: url(../images/icon-stop.png);
	margin-right: 2px;
}
.action-close{
	width: 9px;
	height: 8px;
	float: left;
	position: relative;
	top: 8px;
	background-image: url(../images/icon-x.png);
	margin-right: 2px;
}

.users-list2 .user-photo, .user-avatar, .movie-picture{
	padding: 4px;
	border-radius: 5px;
	float: left;
	box-shadow:3px 3px 3px #666;
}
.movie-picture{ padding:9px; }
.users-list2 .user-photo img, .user-avatar img, .movie-picture img{
	border-radius: 5px;
	display: block;
}
.user{
	float:left;
	margin-right: 6px;
    margin-bottom: 6px;
    width: 50px;
    position: relative;
}
.users-list2 .user:hover{z-index:2001;}
.users-list2 .user:hover .user-popup-info{display: block;}
.user-popup-info{
	position:absolute;
	color: #fff;
    background-image: url(../images/black-bgr.png);
    padding: 10px;
    border-radius: 5px;
    left: 55px;
    bottom: 0;
    width:150px;
    display: none;
}
.user-popup-info .black-tip{
	margin-top: 0;
	top: auto;
	bottom: 10px;
}
.event-caption{
	margin-bottom: 10px;
}
.events-list li{
	margin-top: 5px;
}
#main-footer{
	margin-left: -313px;
	width: 625px;
	position: absolute;
	left: 50%;
	bottom: 0;
}
.inside-column-inside{
	padding:20px 25px;
}
.inside-column-sep{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d1d1d3;
	margin: 15px 0;
}
.inside-column-inside .cbox-title a{
	color: #000;
	text-decoration: none;
}
.inside-column-inside .cbox-title a:hover, .inside-column-inside .cbox-title a.active{color: #49B8E4;}
.conversation-left{
	width: 50px;
	float: left;
	margin-left:-100%;
}
.conversation-right{
	width: 50px;
	float: left;
	margin-left:-50px;
}
.conversation-main{
	float: left;
	width:100%;
}
.conversation-main-inside{
	margin:0 70px;
	min-height:1px;
}
.conversation-main-inside-noright{
	margin:0 0 0 70px;
	min-height:1px;
}
.conversation-main-inside-noleft{
	margin:0 70px 0 0;
	min-height:1px;
}

.movies-row{margin-top: 18px;}
.movies-left{
	width: 95px;
	float: left;
	margin-left:-100%;
}
.movies-main{
	float: left;
	width:100%;
}
.movies-main-inside{
	margin:0 0 0 110px;
	min-height:1px;
}

.chat-time{
	font-size: 9px;
	color: #868889;
	padding: 5px 7px;
}
.chat-meta{
	padding: 5px 7px;
}
.chat-msg{
	margin-bottom: 5px;
	padding: 7px;
	position: relative;
	border-radius: 5px;
}
.chat-tip-left, .chat-tip-right{
	width: 8px;
	height: 14px;
	overflow: hidden;
	position: absolute;
	bottom: 7px;
}
.chat-tip-left{left:-8px;}
.chat-tip-right{left:100%;}
.bgr-pink2 .chat-tip-left{background-image: url(../images/tip-pink-left.png); }
.bgr-pink2 .chat-tip-right{background-image: url(../images/tip-pink-right.png); }
.bgr-blue .chat-tip-left{ background-image: url(../images/tip-blue-left.png); }
.bgr-blue .chat-tip-right{ background-image: url(../images/tip-blue-right.png); }
.bgr-pink2 .chat-tip-left{background-image: url(../images/tip-pink-left.png); }
.bgr-pink2 .chat-tip-right{background-image: url(../images/tip-pink-right.png); }
.bgr-darkblue .chat-tip-left{ background-image: url(../images/tip-darkblue-left.png); }
.bgr-darkblue .chat-tip-right{ background-image: url(../images/tip-darkblue-right.png); }
.bgr-grey2 .chat-tip-left{ background-image: url(../images/tip-grey2-left.png); }
.bgr-grey2 .chat-tip-right{ background-image: url(../images/tip-grey2-right.png); }
.bgr-grey3 .chat-tip-left{ background-image: url(../images/tip-grey3-left.png); }
.bgr-grey3 .chat-tip-right{ background-image: url(../images/tip-grey3-right.png); }
.bgr-grey .chat-tip-left{ background-image: url(../images/tip-grey-left.png); }
.bgr-grey .chat-tip-right{ background-image: url(../images/tip-grey-right.png); }
.chat-form .chat-tip{
	left:-8px;
	background-image: url(../images/tip-grey.png);
}
.chat-form{
	position: relative;
}
.chat-form textarea{
	background-color: #e8e8e9;
	border-radius: 5px;
	border: none;
	width:430px;
	padding:0;
	width:100%;
}
.chat-sep-icon{margin: 0 15px;}
.chat-form .submit{
	position: absolute;
	bottom: -15px;
	background-image: url(../images/btn-envoyer.png);
	background-color: transparent;
    border: none;
    width: 81px;
    height: 28px;
    right: 40px;
}
.photos-box{
	background-color: #dcdcdc;
	background-image: url(../images/bgr-photos.png);
	background-repeat: repeat-x;
	background-position: 0 0 ;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #d4d6d6;
	width:290px;
	margin-top: 25px;
}
.photos-box img{display: block;}
.photos-box-text{
	width: 90px;
	float: right;
}
.like-btn{
	color: #fff;
	background-image: url(../images/btn-empty.png);
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	width: 81px;
	height: 28px;
	display: inline-block;
	border:none;
	background-color:transparent;
}
.email-btn{
	color: #fff;
	background-image: url(../images/btn-empty.png);
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	width: 81px;
	height: 28px;
	display: inline-block;
	border:none;
	background-color:transparent;
	position:absolute;
	    margin-left: 40%;
}
.contact-btn{
	color: #fff;
	background-image: url(../images/btn-empty.png);
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	width: 81px;
	height: 28px;
	display: inline-block;
	border:none;
	background-color:transparent;
	position:absolute;
}
.floating-link{
	position: absolute;
	right: 20px;
    bottom: -14px;
}
.form-col{
	width:246px;
}
.forms-wrap{
	margin: 0 auto;
	width: 520px;
	padding-top: 15px;
}
.form-boxy{
	background-color: #41bae6;
	border-radius: 8px;
	position: relative;
	padding: 10px 15px;
	color: #fff;
}
.form-boxy h4{
	color: #000;
	background-color: #2596c2;
    line-height: 19px;
    height: 19px;
    position: relative;
    margin-left: -15px;
	width: 230px;
	padding-left: 16px;
}
.form-boxy-hanger{
	background-image: url(../images/stripe-hanging.png);
	width: 5px;
	height: 22px;
	overflow: hidden;
	position: absolute;
	left: -5px;
}
.formy-row{
	margin-top: 8px;
}
.formy-row label.formy-lbl{
	float: left;
	font-size: 10px;
	width: 92px;
	line-height: 22px;
}
.formy-row input.text{width:110px;}
.formy-lbl2{
	font-size: 10px;
	color: #333;
}
.form-boxy .submit{
	position: absolute;
	right: 20px;
	bottom: -18px;
}
.recherche-col{
	float: left;
	width: 250px;

}
.recherche-col .rech-fields{
	margin-bottom: 5px;
	overflow: hidden;
}
.recherche-col .rech-fields label{
	float:left;
	width: 130px;
	min-height:1px;
	line-height: 22px;
}
.recherche-col .rech-fields input.text{width: 112px;}
.rcol2{
	margin-left: 9px;
	padding-left: 9px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #e0e1e2;
}
.rcol2 label{width:92px !important;}
.recherche-form{
	margin: 0 auto;
	width: 520px;
}
	
.new-small{
	font-size: 9px;
}
.white{color: #fff;}
.blue-man{margin: 0 45px;}
.blue-man-cont{margin-bottom: 25px;}
.fun-block{
	padding-right: 35px;
}
.fun-block-nav{
	margin-left: -100%;
	width: 210px;
	float: left;
}
.fun-block-inside{
	width: 100%;
	float: left;
	min-height:1px;
}
.fun-block-inside2{
	margin-left: 210px;
}
.fun-block-nav{ padding-top: 50px; }
.fun-block-nav li{
	-moz-transform: skewY(-11deg);
	-webkit-transform: skewY(-11deg);
	margin-bottom: 4px;
}
.fun-block-nav a{
	font-weight: bold;
	background-color: #41bae6;
	display: inline-block;
	color: #000;
    text-decoration: none;
    padding-left: 40px;
    line-height: 20px;
    padding-right: 5px;
}
.fun-block-nav a:hover, .fun-block-nav a.active{background-color: #2596c2;}
.fun-block-inside .text{
	width:100%;
}
.fun-block-inside p{margin-bottom: 10px;}
.fun-block-inside textarea.text{
	height: 210px;
	background-image: url(../images/ta-bg.png);
}
.schwach{
	background-image: url(../images/icon-schwach.png);
	padding-left: 22px;
	background-repeat: no-repeat;
    background-position: 0 0;
}
.schw-gp{
	margin-left: 20px;
}
.schw-gp, .schw-gp *{vertical-align: middle;}
#slurpee{
	background-color: #41bae6;
	width: 100%;
	margin-left: -25px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
#slurpee-oh{
	width:100%;
	overflow:hidden;
}
.slurpee-sep{
	background-color: #2596c2;
	margin: 0 18px;
	width: 3px;
	float:left;
	-moz-transform: skewx(-10deg);
	-webkit-transform: skewx(-10deg);
}
.slurpee-col{
	float: left;
	padding: 8px 0;
	width:150px;
}
.slurpee-data li{
	margin-top:10px;
	line-height: 1.1;
}
.slurpee-data .user-photo{margin-right: 5px;}
#slurpee-left, #slurpee-right{
	margin-top: -16px;
	width: 21px;
	height: 33px;
	position: absolute;
	top: 50%;
	cursor:pointer;
}
#slurpee-left{
	left:3px;
	background-image: url(../images/slurpee-left.png);
}
#slurpee-right{
	right:3px;
	background-image: url(../images/slurpee-right.png);
}
.as-with-icons a{margin-right: 10px;}
.user-descr{
	float:left;
	width:60px;
	margin-right:5px;
	margin-left:5px;
}
.user-titlro{
	width:110px;
}
.user-iconies{
	float:left;
	width:365px;
	margin-right:-365px;
}
.user-iconies li{
	float: left;
	width: 63px;
}
.user-iconies a{
	color: #aaa;
	text-decoration: none;
}
.user-iconies a:hover{color: #2eaadc;}
.user-iconies-1{
	text-align: center;
	display: block;
	line-height: 41px;
	height: 41px;
	margin-bottom: 5px;
}
.user-iconies-1 img{
	vertical-align: middle;
}
.user-iconies-2{
	text-align: center;
	display: block;
	font-size: 11px;
}
.big-main{
	padding-left: 180px;
	background-image: url(../images/big-man.png);
    height: 357px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.noppy{padding-top: 0 !important;}
.sm11{font-size: 11px;}

.content-align-center {    float: left;
    height: 120%;
    margin-left: 10%;
    width: 80%;}
#margin-top-100 {margin-top:100px;}
	
.high {height:1000px !important;}
.legales-top {
    background-image: url("../images/mentionslegales-top.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 5% 0 0 0;
    min-height: 60px;
    position: relative;
	    max-width: 890px;
		z-index:10;
}
.legales-middle {
    background-image: url("../images/mentiones-legales-middle.png");
    background-repeat: repeat-y;
    background-size: contain;
    color: #2E9AC6;
    display: block;
    font-size: 16px;
    margin: -45px 0 0;
    max-width: 890px;
    min-height: 400px;
    position: relative;
    z-index: 1;
	overflow:auto;
}
.legales-bottom {
    background-image: url("../images/mentiones-legales-bottom.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0;
    min-height: 40px;
    position: relative;
	max-width: 890px;
}
.legales-desc {float:left; width:80%; margin:10% 10%;}
.legales-desc p {padding:10px 0;}
.desc-title {color:#000;}

.error-box {
    background-image: url("../images/404.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 5%;
    min-height: 300px;
    position: relative;
	color:#2e9ac6;
	padding:7% 0 0 5%;
	font-size:16px;
}

.email-box {
    background-image: url("../images/email.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 5% auto 0 5%;
    min-height: 300px;
    position: relative;
}

.email-form {	margin: 8% auto 0;
	position:absolute;
	padding-left:5%;
	width: 520px;}
	
.email-bold {color:#fff; font-weight:bold; font-size:16px; }
.email-desc {color:#fff; font-weight:normal; font-size:14px; }
.email-form label {
    display: inline-block;
    height: 35px;
    width: 150px !important;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}	
.email-form .text {
    background-color: #E1E1E1;
    background-image: url("../images/input-bgr.png");
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #D3D4D4;
    border-style: solid;
    border-width: 2px;
    font-size: 11px;
    height: 20px;
    line-height: 14px;
    padding: 2px;
}

.contact-box {
    background-image: url("../images/contact.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 5% auto 0 5%;
    min-height: 600px;
    position: relative;
}

.contact-form {	margin: 13% auto 0;
	position:absolute;
	padding-left:10%;
	width: 520px;}
	
.contact-form label {
    display: inline-block;
    height: 35px;
    width: 150px !important;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}	

.contact-form select {
    background-color: #E1E1E1;
    background-image: url("../images/select-box.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #D3D4D4;
    border-style: solid;
    border-width: 2px;
    font-size: 17px;
    height: 33px;
    padding: 3px;
    width: 250px;
}	

.contact-form .text {
    background-color: #E1E1E1;
    background-image: url("../images/input-bgr.png");
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #D3D4D4;
    border-style: solid;
    border-width: 2px;
    font-size: 11px;
    height: 20px;
    line-height: 14px;
    padding: 2px;
}

.contact-form .like-btn {
    background-color: transparent;
    background-image: url("../images/btn-empty.png");
    border: medium none;
    color: #FFFFFF;
    display: block;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    width: 81px;
}
.contact-form textarea {
    background-color: #E1E1E1;
    background-image: url("../images/input-bgr.png");
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #D3D4D4;
    border-style: solid;
    border-width: 2px;
    font-size: 11px;
    height: 10%;
    line-height: 14px;
    padding: 2px;
    width: 242px;
}
.messagebox label { vertical-align:top; }

.contentainer-div-villy {}
.amins-div {width:580px; margin:0 auto; overflow:auto; text-align: center;}
.amins-div a {     display: inline-block;
    margin: 5px;
    opacity: 0.6;
    overflow: auto; clear: both;}
.amins-div a:hover {opacity:1;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.perfil-box {width:100%; height:100%:;}
.photo-border {
	    background-image: url("../images/photo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: table-cell;
    height: 80px;
    text-align: left;
    vertical-align: middle;
    width: 80px;
	padding-left:3px;
}

.photo-border img {
    border-radius: 10px 10px 10px 10px;
}
#gallery-menu {z-index:0; margin-top:-20px;}
#gallery-menu2 {z-index:0; margin-top:0px; margin-bottom:20px;}

.page-hr {margin-top:-20px; display:block; position:relative; clear:both;}
.profile-table-container {display:inline-block; margin:50px 0px 50px 50px; width:92%;}

#rechercher-btn {background-image:url(../images/rechercher.png);display:block; width:123px; height:41px; margin:0 auto;}
#rechercher-btn:hover {background-image:url(../images/rechercher2.png);}

.profile-name {font-weight:bold; font-size:16px; display:block; color:#000; margin-bottom:10px;}
#galerie-profile {min-width:600px; width:100%;}
#galerie-profile .profile-resume a {color:#58c8f0; font-size:14px; text-decoration:none; }
#galerie-profile .profile-resume a:hover {color:#58c8f0; text-decoration:underline;}
#galerie-profile th {text-align:center;}
#galerie-profile a img {opacity:0.7; color:#FF0;}

#galerie-profile a:hover img {opacity:1; color:#FF0;}
#galerie-profile a {color:#000; text-decoration:none; font-size:13px; font-weight:bold;}
#galerie-profile a:hover {color:#000; text-decoration:underline;}
#page-active {color:#58c8f0;}

#gallery-pager {
	clear:both;
    margin: 0 auto;
    width: 150px;
}

#gallerie {position:relative; margin:3% 0; text-align:center;}


.fancybox-title.fancybox-title-inside-wrap {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.darkblue-tip{
	background-image: url(../images/tip-blue-left.png);
	width: 11px;
	height: 13px;
	overflow: hidden;
	position: absolute;
	left: -8px;
	top: 50%;
	margin-top:-7px;
}
.darkblue-quote{
	background-color: #9cd5f2;
	border-radius: 8px;
	position: relative;
	/* [disabled]margin-top: 15px; */
	padding: 15px;
	color:#97989a;
	margin-left: 30px;
}
.bl-photo2{
	float: left;
	width: 75px;
    margin-left: 20px;
}
.bl-right2{
	width: 370px;

}
.beta-left2{
	width: 540px;
	}
.bgr-blue2{ background-image:url(../images/bgr-bblue.png); }

#listed-main {width:100%; position:relative; margin:0 auto; overflow:auto;}
#listedecontact-left {
    border-right: 1px solid #CCCCCC;
    margin: 50px;
    width: 30%;
float:left;
  height:200px;

}

#listedecontact-right {
    margin: 50px;
    width: 30%;
float:left;
 height:200px;
}

#listedecontact-left label, #listedecontact-right label {
    display: inline-block;
    height: 35px;
    width: 100px;
}

#liste-contact {
    margin: 0 auto;
    width: 600px;
}
.margt {margin-top:10px; display:block;}

.bl-photo2{
	float: left;
	width: 75px;
    margin-left: 20px;
}

.bgr-blue2{ background-color: #88D2F3; }

.bold {font-weight:bold;}

.contact-title {margin:5px 0px 0px 25px;; float:left;}


#mesaj-contact {
    margin: 20px;
	overflow: auto;
}

.contact-message-container {    background-color: #276276;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 5px 0 0 25px;
    min-height: 70px;
    padding: 20px 20px 0;
    position: relative;
    width: 460px;}

.under-msg {
    clear: both;
    margin-left: 120px;
    padding-top: 5px;
    width: 500px;
}

.left22 {
    float: left;
}

.right22 {
    float: right;
}

.mesagerie-box {
	background-image: url(../images/mesagerie.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	margin: 5% auto 0 5%;
	min-height: 250px;
	position: relative;
	width: 650px;
}
.recherche-box {
position: absolute;
padding-left: 5%;
width: 40%;
margin-top: 105px;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
z-index: 100;
}
.recherche-box .text {
	background-color: #E1E1E1;
	background-image: url(../images/search-bgr.png);
	background-size:contain;
}

.archives-box {
position: absolute;
padding-left: 360px;
width: 40%;
margin-top: 105px;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}
.recherche-btn{
	color: #fff;
	background-image: url(../images/btn-empty.png);
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	width: 81px;
	height: 28px;
	display: inline-block;
	border:none;
	background-color:transparent;
	position:absolute;
	margin-top: 10px;
	margin-left: 140px;
}
.img_chat {
}
.darkblue-tip{
	background-image: url(../images/tip-blue-left.png);
	width: 11px;
	height: 13px;
	overflow: hidden;
	position: absolute;
	left: -8px;
	top: 50%;
	margin-top:-7px;
}
.darkblue-quote{
	background-color: #9cd5f2;
	border-radius: 8px;
	position: relative;
	/* [disabled]margin-top: 15px; */
	padding: 15px;
	color:#97989a;
	margin-left: 30px;
}
.bl-photo2{
	float: left;
	width: 75px;
    margin-left: 20px;
}
.bl-right2{
	width: 370px;

}
.beta-left2{
	width: 540px;
	}
.bgr-blue2{ background-image:url(../images/bgr-bblue.png); }

