
body
{
	font:75%/1.5 Arial,sans-serif;
	color:#424040;
}

/******************* TOP **********************/

div#top
{
	position:relative;
	width:940px;
	height:auto;
	margin:0 auto;
	border-bottom:1px solid #b8b1b1;
	padding-bottom:15px;
	margin-bottom:15px;
}

div#logo
{

}

div#navigtop ul
{
	position:absolute;
	top:6px;
	left:400px;
	list-style-type:none;
	height:35px;
}

div#navigtop ul li
{
	width:90px;
	float:left;
	margin-right:2px;
}

div#navigtop ul li.profil
{
	background:url('designimages/fondminimenu.png') no-repeat top;
}

div#navigtop ul li.profil a
{
	background:url('icones/User.png') no-repeat top;
}

div#navigtop ul li.discussion:hover
{
	background:url('designimages/fondminimenu.png') no-repeat top;
}

div#navigtop ul li.discussion a
{
	background:url('icones/Discussion.png') no-repeat top;
}


div#navigtop ul li.mail:hover
{
	background:url('designimages/fondminimenu.png') no-repeat top;
}

div#navigtop ul li.mail a
{
	background:url('icones/Mail.png') no-repeat top;
}

div#navigtop ul li.contact:hover
{
	background:url('designimages/fondminimenu.png') no-repeat top;
}

div#navigtop ul li.contact a
{
	background:url('icones/Users.png') no-repeat top;
}

div#navigtop ul li a
{
	font-size:12px;
	color:#8f8989;
	text-decoration:none;
	padding:35px 0 11px 0;
	display:block;
	text-align:center;
}

div#deconnection
{
	position:absolute;
	right:15px;
	top:2px;
	width:101px;
	height:21px;
	background:url('designimages/fondminibouton.png') repeat-x;
	margin-right:5px;
	border:1px solid #a5a2a0;
	text-align:center;
}

div#deconnection a
{
	text-decoration:none;
	font-size:12px;
	color:#383636;
	display:block;
	width:101px;
	height:19px;
	padding-top:2px;
}

div#deconnection a:hover
{
}

/*********************** MAIN *********************/

div#main
{
	width:940px;
	height:auto;
	margin:0 auto;
}

/********************* NAVIG CENTER *******************/

div#recherche
{
	position:relative;
	float:left;
	width:687px;
	height:auto;
	background:#FFFFFF url('designimages/fondarrondi.png') no-repeat bottom left;
}

div#recherche h2
{
	background:#FFFFFF url('designimages/fondarrondi.png') no-repeat top left;
	margin-top:0px;
	padding:15px;
}

/******************** NAVIG RIGHT *******************/

div#navigdroite
{
	position:relative;
	float:right;
	width:250px;
}

div#fairerencontre
{
	position:relative;
	float:right;
	width:222px;
	height:43px;
	background:url('designimages/fondgrosbouton.png') no-repeat;
	margin-right:5px;
}

div#fairerencontre a
{
	font-weight:bold;
	text-decoration:none;
	font-size:13px;
	color:#532805;
	display:block;
	width:201px;
	height:31px;
	padding-left:21px;
	padding-top:12px;
}

div#fairerencontre a:hover
{
	text-decoration:underline;
}

div#evenement
{
	float:right;
	width:217px;
	height:232px;
	background:url('designimages/fondmenu.png') no-repeat;
	padding-left:15px;
	display:block;
}

div#evenement2
{
	float:right;
	width:217px;
	height:232px;
	background:url('designimages/fondmenu.png') no-repeat;
	padding-left:15px;
	display:block;
}